/********************************************************************************************************************************
                                            Hexagon Intro Blocks
********************************************************************************************************************************/
body{
  height: 100vh;
}

.intro-block {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  box-shadow: inset 0px 0px 64px 0px rgba(50,50,50,0.75);
}

.centerfold-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.code-display {
  position: relative;
  color: #f6f6f6;
  width: 600px;
  height: 260px;
  &::before {
    content: "";
    position: absolute;
    top: -70px;
    left: 0;
    font-size: 3.0rem;
    color: #333;
  }
}

.code-description {
  width: 100%;
  height: 100%;
  color: #333;
}

.code-description * {
  display: none;
}

.code-description > div {
  padding: 0px 40px;
  font-size: 26px;
  border-left: 2px solid #DDDDDD;
}

.desc-active {
  display: block;
  position: relative;
  
  &::after {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    content: "";
    opacity: .2;
    z-index: -1;
  }
}

.desc-active > p{
  display: block;
}

.desc-active > p > span{
  display: inline-block;
  margin-right: 10px;
}

p.code-title {
  position: relative; 
  font-size: 6rem;
}

@mixin icon($image){
  background: url($image);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;  
}

$list: rails ruby heroku react js python c;

@each $lang in $list {
  .#{$lang}.desc-active::after{
    @include icon("#{$lang}.png")
  }
}

.rails.desc-active::after {
  margin-left: 85px;
}

.c.desc-active::after {
  margin-top: -50px;
}

.hex-master-wrap {
  min-width: 665px;
}

.border-1, .border-2, .border-3 {
  position: absolute;
  width: 100%;
  height: 88px;
  top: 46px;
  left: 0;
  border-left: 3px solid;
  border-right: 3px solid;
  border-radius: 8px;
}

.border-2 {
  transform: rotate(60deg);
}

.border-3 {
  transform: rotate(120deg);
}

.intro-block .grid-1, .intro-block .grid-2, .intro-block .grid-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
  margin-bottom: -50px;
}

.hex-wrap {
  position: relative;
  width: 150px;
  height: 190px;
  margin: 0 1em 0 0;
  & .label {
    position: absolute;
    top: 0; bottom: 0;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hex-wrap .label img {
  height: 60px;
}

/**********************************************************************************
                                Hex Hover Area
**********************************************************************************/
.hex-init {
  position: absolute;
  top: 46px;
  height: 46%;
  width: 100%;
  z-index: 1;
  transform: rotate(-60deg);
  cursor: pointer;

  &::after, &::before {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    content: "";
    transform: rotate(-60deg);
  }

  &::before {
    transform: rotate(60deg) !important;
  }
}

$list: ( python: $python, c: $c, react: $react, js: $js, ruby: $ruby, rails: $rails, heroku: $heroku);

@each $lang, $color in $list {
  .#{$lang} {
    color: $color
  }
}
