<div class="code-display">
  <div class="code-description">
    <div class="rails">
      <p class="code-title"></p>
      <p><span>Level:</span>Advanced</p>
      <p><span>Examples:</span><a href="https://www.kitchup.co.uk/">Kitchup</a>
        , <a href="https://www.facebook.com/kittysplitter/?ref=aymt_homepage_panel&eid=ARDOJOIEUWTFsPrTJsB8bh-Zh1oLoaNDViiLVuRxfMYIbQsILZOYrNSu_vCALtGMZ_BvfUx4q9MMLGJN">Kitty, </a> & here!</p>
        <div class="code-icon"></div>
      </div>
      <div class="ruby">
        <p class="code-title"></p>
        <p><span>Level:</span>Advanced</p>
        <p><span>Examples: </span>Ruby Tutor & Le Wagon lecturer on Ruby</p>
        <div class="code-icon"></div>
      </div>
      <div class="python">
        <p class="code-title"></p>
        <p><span>Level:</span>Basic</p>
        <p><span>Examples:  </span>
          <%= link_to "Code", "https://github.com/Voxoff/compuation/blob/master/turing.py", class: "btn btn-lg" %>
        </p>
        <div class="code-icon"></div>
      </div>
      <div class="c">
        <p class="code-title"></p>
        <p><span>Level:</span>Intermediate</p>
        <p><span>Experience:  </span>CS50x, <a href="https://github.com/Voxoff/CS50">All Problem sets here</a></p>
        <div class="code-icon"></div>
      </div>
      <div class="js">
        <p class="code-title"></p>
        <p><span>Level:</span>Intermediate</p>
        <p><span>Experience:  </span>Lead dev for students project: Lectures given on AJAX.</p>
        <div class="code-icon"></div>
      </div>
      <div class="react">
        <p class="code-title"></p>
        <p><span>Level:</span>Intermediate</p>
        <p><span>Examples:  </span>Down To Play</p>
        <div class="code-icon"></div>
      </div>
      <div class="heroku">
        <p class="code-title"></p>
        <p><span>Level:</span>Intermediate</p>
        <p><span>Examples:  </span>Up-to-date heroku Practices</p>
        <div class="code-icon"></div>
      </div>
    </div>
  </div>
