<div class="hex-init"></div>
<div class="hex-borders">
  <div class="border-1"></div>
  <div class="border-2"></div>
  <div class="border-3"></div>
</div>
<div class="label"><%= image_tag image %></div>
<div class="hexagon">
  <div class="hex-inner-1">
    <div class="hex-inner-2"></div>
  </div>
</div>
