
<div class="container">
  <div class="row">
    <div class="col-12 reviews">
      <h2>Reviews</h2>
      <h5>Fourfive cbd</h5>
         <% @ff_reviews.each do |review| %>
            <%= render "review", review: review %>
      <% end %>
        <h5>Flatiron</h5>
         <% @fl_reviews.each do |review| %>
            <%= render "review", review: review %>
      <% end %>
      <h5>Le Wagon</h5>
      <% @lw_reviews.each do |review| %>
            <%= render "review", review: review %>
      <% end %>
    </div>
  </div>
</div>
