<h2>Navbar</h2>

<h1>Review</h1>

<% @reviews.in_groups_of(3) do |reviews| %>
  <div class="container">
    <div class="row">
      <% reviews.each do |review| %>
        <div class="col-md">
          <div class="card">
            <h2><%= review&.person %></h2>
            <p><%= review&.review %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
